# -------------------------
# RStudio / R
# -------------------------
.Rproj.user
.Rhistory
.RData
.Ruserdata

# -------------------------
# renv
# -------------------------
renv/library/
renv/python/
renv/staging/

# -------------------------
# Data (NHANES)
# -------------------------
data/raw/
data/clean/

# -------------------------
# Outputs
# -------------------------
outputs/
*.html

# -------------------------
# OS / misc
# -------------------------
.DS_Store
Thumbs.db